{:site-title "fixturex"
 :author "Ryan McGowan"
 :parse-defaults {:transformers [:vm-layout]}
 :stefon {:asset-roots ["dev-resources/assets"]
          :manifest-file "dev-resources/manifest.json"
          :precompiles ["vm/javascripts/vm.js.stefon"
                        "vm/stylesheets/vm.css.stefon"]}
 :uri-root "fixturex"
 :deploy {:workflow :git-branch}}
